<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".MinimalApp"
        android:label="MinimalTest"
        android:theme="@android:style/Theme.Material.Light.DarkActionBar"
        android:allowBackup="false">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="MinimalTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SecondActivity"
            android:exported="false"
            android:label="MinimalSecond" />

        <service
            android:name=".ProbeService"
            android:exported="false" />

        <receiver
            android:name=".ProbeReceiver"
            android:exported="false" />

        <provider
            android:name=".ProbeProvider"
            android:authorities="com.test.minimal.probe"
            android:exported="false" />

    </application>
</manifest>
