<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="QueryAllPackagesPermission" />
    <application
        android:name=".MultiAppApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MultiApp">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MultiApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- v2 hosted container entry point (internal only) -->
        <activity
            android:name=".container.ContainerActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:launchMode="standard"
            android:noHistory="true"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.MultiApp.Proxy"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|uiMode" />

        <!-- v2 proxy Activity slots. Guest Activity launches are mapped here first. -->
        <activity
            android:name=".container.ProxyActivity0"
            android:exported="false"
            android:excludeFromRecents="false"
            android:launchMode="standard"
            android:screenOrientation="unspecified"
            android:taskAffinity="${applicationId}.multiapp.task.standard0"
            android:theme="@style/Theme.MultiApp.Proxy"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|uiMode" />
        <activity
            android:name=".container.ProxyActivity1"
            android:exported="false"
            android:excludeFromRecents="false"
            android:launchMode="standard"
            android:screenOrientation="unspecified"
            android:taskAffinity="${applicationId}.multiapp.task.standard1"
            android:theme="@style/Theme.MultiApp.Proxy"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|uiMode" />
        <activity
            android:name=".container.ProxyActivity2"
            android:exported="false"
            android:excludeFromRecents="false"
            android:launchMode="standard"
            android:screenOrientation="unspecified"
            android:taskAffinity="${applicationId}.multiapp.task.standard2"
            android:theme="@style/Theme.MultiApp.Proxy"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|uiMode" />
        <activity
            android:name=".container.ProxyActivity3"
            android:exported="false"
            android:excludeFromRecents="false"
            android:launchMode="standard"
            android:screenOrientation="unspecified"
            android:taskAffinity="${applicationId}.multiapp.task.standard3"
            android:theme="@style/Theme.MultiApp.Proxy"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|uiMode" />
        <activity
            android:name=".container.ProxyActivity4"
            android:exported="false"
            android:excludeFromRecents="false"
            android:launchMode="standard"
            android:screenOrientation="unspecified"
            android:taskAffinity="${applicationId}.multiapp.task.standard4"
            android:theme="@style/Theme.MultiApp.Proxy"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|uiMode" />
        <activity
            android:name=".container.ProxyActivity5"
            android:exported="false"
            android:excludeFromRecents="false"
            android:launchMode="standard"
            android:screenOrientation="unspecified"
            android:taskAffinity="${applicationId}.multiapp.task.standard5"
            android:theme="@style/Theme.MultiApp.Proxy"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|uiMode" />
        <activity
            android:name=".container.ProxyActivity6"
            android:exported="false"
            android:excludeFromRecents="false"
            android:launchMode="standard"
            android:screenOrientation="unspecified"
            android:taskAffinity="${applicationId}.multiapp.task.standard6"
            android:theme="@style/Theme.MultiApp.Proxy"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|uiMode" />
        <activity
            android:name=".container.ProxyActivity7"
            android:exported="false"
            android:excludeFromRecents="false"
            android:launchMode="standard"
            android:screenOrientation="unspecified"
            android:taskAffinity="${applicationId}.multiapp.task.standard7"
            android:theme="@style/Theme.MultiApp.Proxy"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|uiMode" />
        <activity
            android:name=".container.ProxyActivitySingleTop0"
            android:exported="false"
            android:excludeFromRecents="false"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified"
            android:taskAffinity="${applicationId}.multiapp.task.singleTop0"
            android:theme="@style/Theme.MultiApp.Proxy"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|uiMode" />
        <activity
            android:name=".container.ProxyActivitySingleTop1"
            android:exported="false"
            android:excludeFromRecents="false"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified"
            android:taskAffinity="${applicationId}.multiapp.task.singleTop1"
            android:theme="@style/Theme.MultiApp.Proxy"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|uiMode" />
        <activity
            android:name=".container.ProxyActivitySingleTop2"
            android:exported="false"
            android:excludeFromRecents="false"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified"
            android:taskAffinity="${applicationId}.multiapp.task.singleTop2"
            android:theme="@style/Theme.MultiApp.Proxy"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|uiMode" />
        <activity
            android:name=".container.ProxyActivitySingleTop3"
            android:exported="false"
            android:excludeFromRecents="false"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified"
            android:taskAffinity="${applicationId}.multiapp.task.singleTop3"
            android:theme="@style/Theme.MultiApp.Proxy"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|uiMode" />
        <activity
            android:name=".container.ProxyActivitySingleTop4"
            android:exported="false"
            android:excludeFromRecents="false"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified"
            android:taskAffinity="${applicationId}.multiapp.task.singleTop4"
            android:theme="@style/Theme.MultiApp.Proxy"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|uiMode" />
        <activity
            android:name=".container.ProxyActivitySingleTop5"
            android:exported="false"
            android:excludeFromRecents="false"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified"
            android:taskAffinity="${applicationId}.multiapp.task.singleTop5"
            android:theme="@style/Theme.MultiApp.Proxy"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|uiMode" />
        <activity
            android:name=".container.ProxyActivitySingleTop6"
            android:exported="false"
            android:excludeFromRecents="false"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified"
            android:taskAffinity="${applicationId}.multiapp.task.singleTop6"
            android:theme="@style/Theme.MultiApp.Proxy"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|uiMode" />
        <activity
            android:name=".container.ProxyActivitySingleTop7"
            android:exported="false"
            android:excludeFromRecents="false"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified"
            android:taskAffinity="${applicationId}.multiapp.task.singleTop7"
            android:theme="@style/Theme.MultiApp.Proxy"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|uiMode" />
        <activity
            android:name=".container.ProxyActivitySingleTask0"
            android:exported="false"
            android:excludeFromRecents="false"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified"
            android:taskAffinity="${applicationId}.multiapp.task.singleTask0"
            android:theme="@style/Theme.MultiApp.Proxy"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|uiMode" />
        <activity
            android:name=".container.ProxyActivitySingleTask1"
            android:exported="false"
            android:excludeFromRecents="false"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified"
            android:taskAffinity="${applicationId}.multiapp.task.singleTask1"
            android:theme="@style/Theme.MultiApp.Proxy"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|uiMode" />
        <activity
            android:name=".container.ProxyActivitySingleTask2"
            android:exported="false"
            android:excludeFromRecents="false"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified"
            android:taskAffinity="${applicationId}.multiapp.task.singleTask2"
            android:theme="@style/Theme.MultiApp.Proxy"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|uiMode" />
        <activity
            android:name=".container.ProxyActivitySingleTask3"
            android:exported="false"
            android:excludeFromRecents="false"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified"
            android:taskAffinity="${applicationId}.multiapp.task.singleTask3"
            android:theme="@style/Theme.MultiApp.Proxy"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|uiMode" />
        <activity
            android:name=".container.ProxyActivitySingleTask4"
            android:exported="false"
            android:excludeFromRecents="false"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified"
            android:taskAffinity="${applicationId}.multiapp.task.singleTask4"
            android:theme="@style/Theme.MultiApp.Proxy"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|uiMode" />
        <activity
            android:name=".container.ProxyActivitySingleTask5"
            android:exported="false"
            android:excludeFromRecents="false"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified"
            android:taskAffinity="${applicationId}.multiapp.task.singleTask5"
            android:theme="@style/Theme.MultiApp.Proxy"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|uiMode" />
        <activity
            android:name=".container.ProxyActivitySingleTask6"
            android:exported="false"
            android:excludeFromRecents="false"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified"
            android:taskAffinity="${applicationId}.multiapp.task.singleTask6"
            android:theme="@style/Theme.MultiApp.Proxy"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|uiMode" />
        <activity
            android:name=".container.ProxyActivitySingleTask7"
            android:exported="false"
            android:excludeFromRecents="false"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified"
            android:taskAffinity="${applicationId}.multiapp.task.singleTask7"
            android:theme="@style/Theme.MultiApp.Proxy"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|uiMode" />

        <!-- v2 hosted Service proxy slot. Guest Service dispatch is partial/evidence-gated. -->
        <service
            android:name=".container.StubService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <!-- v2 hosted Provider proxy slot. Guest Provider dispatch is partial/evidence-gated. -->
        <provider
            android:name=".container.StubContentProvider"
            android:authorities="${applicationId}.multiapp.provider.stub"
            android:exported="false" />

        <!-- FileProvider for sharing Stub APK with system installer -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
    </application>
</manifest>
